* {
    margin: 0;
    padding: 0;
  }
  
  img {
    height: 100vh;
    position: absolute;
    left: -50px;
  }
  
  .right-container {
    height: 100vh;
    width: 62.5vw;
    background-color: white;
    position: absolute;
    right: 0;
  }
  
  .left-container {
    height: 100vh;
    width: 37.5vw;
    position: absolute;
  }
  
  .plate {
    background-color: rgb(0,0,0,0.5);
    height: 14vh;
    width: 100%;
    position: relative;
    top: 22vh;
    display: flex;
    justify-content: center;
  }
  
  
  
  .logo {
    height: 100%;
    position: static;
  }